body{
    background-color:rgb(36, 38, 91);
    color:rgb(246, 242, 242);
}

table{
    border-color: rgb(30, 2, 2);
}
td{
    padding: 10px 40px;
    
}
.col{
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    color:black
}
tr{
    background-color:rgb(104, 90, 69);
    color:#fef8f8;
    font-size: 30px;
    
}
input{
    font-size: 25px;
}
input[type=text]{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

   
}
#msg{
    color:rgb(238, 5, 24);
    font-size: 40px;
}

.buttons{
    margin: 0 auto;
    justify-content: space-evenly;

}
.submit{
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    width:0 auto;
    background-color:rgb(62, 62, 199);
    color:white;
    font-size: 20px;
  
    
   
}

.submit:hover{
    background-color: rgb(51, 30, 129);
}

.reset{
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    width: 0 auto;
    background-color:rgb(62, 62, 199) ;
    color:white;
    font-size: 20px;
   
    
    
}

.reset:hover{
    background-color: rgb(51, 30, 129);
}

/* form {
    display: flex;
    flex-direction: column;
} */
/* fieldset{
    display: flex;
    border-width: 2px;
    border-color: blue;
} */

h1{
    font-size: 40px;
    /* align-items: center;
    justify-content: center; */
}

/* fieldset{
    border: none;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    align-content: center;

} */

.edit{
    font-size: 22px;
    padding: 5px 10px ;
}

.update{
    font-size: 22px;
    padding: 5px 10px;
}